body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #ff6600;
}

img {
  width: 200px;
  height: auto;
  margin-top: 20px;
}